.Toolbar{
    background-color: rgb(136, 90, 30);
    color: white;
    position: fixed;
    z-index: 90;
    top: 0;
    left: 0;
    height: 70px;
    width: 100%;
    padding: 0 30px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    
}
.Logo{
    margin-top: 10px;
    height: 90%;
}
@media(max-width:499px){
.Desktoponly{
    display: none;
}

}